.container {
    margin-top: 50px;
}

.card {
    background-color: #000;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card input[type="text"], .card input[type="email"] {
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    background-color: #333;
    color: #fff;
}

.card input[type="text"]:focus, .card input[type="email"]:focus {
    outline: none;
}

.card .submit-btn {
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
}

.card .submit-btn:hover {
    background-color: #777;
}
